body {
	font-family: 'Verdana', sans-serif;
}

.button {
	margin-bottom: 10px;
	padding: 7px;
	background-color: #1978FF;
	border: 1px solid #1978FF;
	border-radius: 5px;
	color: #fff;
}

.button:hover {
	background-color: #002D6E;
	border: 1px solid #002D6E;
	transition: .8s;
}

.day {
	font-size: 16px;
	font-weight: bold;
}

.date {
	font-size: 12px;
	font-style: italic;
}

#container {
	width: 90%;
	margin: 0 auto;
}

.weather-box {
	text-align: center;
	width: 130px;
	float: left;
}