body {
	font-family: 'Verdana', sans-serif;
}

.button {
	margin-bottom: 10px;
	padding: 7px;
	background-color: #1978FF;
	border: 1px solid #1978FF;
	border-radius: 5px;
	color: #fff;
}

.button:hover {
	background-color: #002D6E;
	border: 1px solid #002D6E;
	transition: .8s;
}

.day {
	font-size: 16px;
	font-weight: bold;
}

.date {
	font-size: 12px;
	font-style: italic;
}

.cond {
	font-size: 14px;
}

#container {
	width: 90%;
	margin: 0 auto;
    height: 300px;
}

.weather-box {
    color: #fff;
    background-color: #1978FF;
    text-align: center;
    width: 120px;
    height: 150px;
    float: left;
    margin-bottom: 10px;
    border: 2px solid #1978FF;
    border-radius: 3px;
    margin-right: 5px;
}

.weather-box img {
    height: 50px;
}

footer {
    width: 90%;
    margin: 0 auto;
}

footer p {
    font-size: 10px;
    color: gray;
}

/*
#weather-container {
    overflow: scroll;
    overflow-y: hidden;
}

add media query to fix scrollbar issue


*/
